h1 {
  text-align:center;
  font-size:60px;
}
h2 {
  text-align:center;
}
body {
  background-image:url(https://cache.marriott.com/marriottassets/marriott/EISAK/eisak-aerial-9816-hor-clsc.jpg?downsize=1440px:*);

}